* {
	margin: 0;
	padding: 0;
	}
body {
	background: #fff;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	}
	
.container {	
	width: 600px;
	margin: auto;
	}

#dates p {
	display: none;
	text-align: left;
	margin-bottom: 5px;
	}
	
#timeline {
	height: 500px;
	width: 500px;
	border: 1px solid #000;
	overflow: hidden;
	margin: 10px auto;
	text-align: center;
	position: relative;
	}
#timeline_lines {
	width: 2643px;
	position: relative;
	cursor: move;
	}
#timeline_marker {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;	
	}
#timeline_background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	} 
#timeline_arrow {
	position: absolute;
	top: 210px;
	right: -202px;
	z-index: 11;
	background: url('timeline_arrow.png') top right no-repeat;	
	height: 48px;
	}
#timeline_shadow {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 12;	
	pointer-events: none;
	}

.yourtime {
	font-size: 32px;
	margin-bottom: 10px;
	color: #c00;
	}