body {
  position: relative;
  text-align: center;
}

#content {
  width: 500px;
  margin: 25px auto;
  position: relative;
  overflow: hidden;
}

#svPanel {
  width: 500px;
  height: 500px;
}

#status {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 640px;
  text-align: center;
  font: 32pt sans-serif;
  color: #666666;
  background-color: white;
}

#instruction {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 500px;
  text-align: center;
  font: 16pt sans-serif;
  color: #fff;
  display: none;
  z-index: 10;
}
#instruction a {
	color: #fff;
	text-decoration: none;
	background: #333;
	padding: 10px 20px;
	border-radius: 15px;
	font-size: 150%;
	font-weight: normal;
	opacity: 0.8;
	}


#streetview_filter {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  z-index: 5;
  opacity: 0.5;
  pointer-events: none;
  }

#streetview {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
}

